

:root {
    --primary-green: #00583F;
    --light-green: #007A53;
    --background-light: #F5F9F7;
    --text-dark: #222222;
    --text-light: #ffffff;
    --error-red: #D32F2F;
    --button-hover: #00412C;
}

body {
    background-color: var(--background-light);
    color: var(--text-dark);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
